doctype html
html
	head
		title Spotify API Demo
		style
			include css/style.css
	body
		h1 Spotify API Demo
			small by Simon Moos, 2017-09-25
		section
			p A small demo of the Spotyfy web API. Log in to authorize this application.
			a(id="login-button",href="/login") Log in to Spotify!
